@font-face {
  font-family: 'firalight';
  src: url("../assets/fonts/FiraSans-Light.woff2") format("woff2"),
       url("../assets/fonts/FiraSans-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'firamedium';
  src: url("../assets/fonts/FiraSans-Medium.woff2") format("woff2"),
  url("../assets/fonts/FiraSans-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;

}
