/* -------------------------------------------------------------*/
/* -----------------------KEYFRAMES-----------------------------*/
/* -------------------------------------------------------------*/


@keyframes swift-inY {
  0%  {@include scaleY(0)}
  100% {@include scaleY(1)}
}
@keyframes swift-inX {
  0%  {@include scaleX(0)}
  100% {@include scaleX(1)}
}
@keyframes swift-outY {
  0% {@include scaleY(1)}
  100%  {@include scaleY(0)}
}
@keyframes swift-outX {
  0% {@include scaleX(1)}
  100%  {@include scaleX(0)}
}

@-webkit-keyframes move {
  from {
    transform: scale(1);
    text-indent: -9999px;
    ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
  }
  to {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -o-transform: scale(1.15);
    -moz-transform: scale(1.15);
  }
}
@keyframes move {
  from {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
  }
  to {
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    -o-transform: scale(1.15);
    -moz-transform: scale(1.15);
  }
}

.ls-slide img:nth-child(1) {
  display: none !important;
    -webkit-animation-duration: 30s ;
    animation-duration: 30s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: move;
    animation-name: move;
    animation-direction: alternate;
    -moz-animation-direction: alternate;
    -webkit-animation-direction: alternate;
    -o-animation-direction: alternate;
    -ms-transform-origin: middle center;
    transform-origin: middle center;
    -webkit-transform-origin: middle center;
    -o-transform-origin: middle center;
    -moz-transform-origin: middle center;
}
